{% extends "layout.html" %}
{% block content %}
	<div class="container">
		<h1 class="font-weight-light text-center text-lg-left mt-4 mb-0">Thumbnail Gallery</h1>
		<hr class="mt-2 mb-5">
		<div class="row text-center text-lg-left">
			{% for image in images %}
				<div class="col-lg-3 col-md-4 col-6">
					<a href="#" class="d-block mb-4 h-100" data-toggle="modal" data-target="#modal{{ image.id }}">
						<img class="img-fluid img-thumbnail" src={{ url_for('static',filename='images/'+image.file) }}
								alt="Image">
					</a>
				</div>
				<div class="modal fade" id="modal{{ image.id }}" aria-hidden="true">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="exampleModalLabel">Preview Image</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<img class="img-fluid img-thumbnail"
								 src={{ url_for('static',filename='images/'+image.file) }} alt="Image">
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
								<button type="button" class="btn btn-danger">Delete</button>
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock content %}
