<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href={{ url_for('static', filename='css/bootstrap.min.css') }}>
	</head>

	<body>
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<div class="container">
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
						aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarTogglerDemo01">
					<a class="navbar-brand mr-auto" href="/">Gate Security</a>
					<ul class="navbar-nav  mt-2 mt-lg-0">
						{% if current_user.is_authenticated %}
							<a class="nav-item nav-link" href="/image">Image</a>
							<a class="nav-item nav-link" href="/gallery">Gallery</a>
							<a class="nav-item nav-link" href="/logout">Logout</a>
						{% else %}
							<a class="nav-item nav-link" href="/login">Login</a>
							<a class="nav-item nav-link" href="/register">Register</a>
						{% endif %}
					</ul>
				</div>
			</div>
		</nav>
		{% with messages = get_flashed_messages(with_categories=true) %}
			{% if messages %}
				{% for category, message in messages %}
					<div class="alert alert-{{ category }} alert-dismissible fade show container"
						 role="alert">
						<strong>{{ message }}</strong>
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
				{% endfor %}
			{% endif %}
		{% endwith %}
		{% block content %}{% endblock %}

		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
		<script src={{ url_for('static', filename='js/bootstrap.min.js') }}></script>
	</body>
</html>